@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000023;
    --foreground: #ededed;
    --linearbg: linear-gradient(
      to right top,
      #1b2978,
      #00509b,
      #0074b0,
      #0097b8,
      #00b8b9,
      #6fd7b9
    );
  }
}

body {
  color: var(--foreground);
  font-family: "Neo Sans Pro", sans-serif;
  
}
.font-proto-sans {
  font-family: var(--font-proto-sans);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

textarea,
input:focus-visible, select {
  outline: none;
}

.MuiOutlinedInput-root > .Mui-focused, .MuiOutlinedInput-notchedOutline {
  border: none;
}

.MuiInputBase-root {
  border: solid 1px #d1d5db;
  font-size: 14px;
}

